# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\elbam\OneDrive\Documents\Study\Year 3\Semester A\Analysis and Design of Software Systems\Homework\HW4\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
